spring:
  application:
    name: auth-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:}
    username: ${SPRING_DATASOURCE_USERNAME:}
    password: ${SPRING_DATASOURCE_PASSWORD:}
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      idle-timeout: 30000
      max-lifetime: 600000
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:none}
  cache:
    cache-names:
      - "users"
    redis:
      time-to-live: 10m

    type: ${SPRING_CACHE_TYPE:simple}
  threads:
    virtual:
      enabled: true
  grpc:
    client:
      channels:
        user-service:
          address: ${USER_SERVICE_ADDRESS:ckw-user-service}:${USER_SERVICE_GRPC_PORT:9090}
          negotiation-type: plaintext

server:
  port: 8080
logging:
  config: classpath:logback-spring.xml
  level:
    root: info
    "[com.dj.ckw.authservice]": DEBUG
  structured:
    format:
      console: logstash
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      export:
        otlp:
          enabled: true
          endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://otel-collector:4317}
          transport: grpc
otel:
  resource:
    attributes:
      service.name: auth-service