spring:
  application:
    name: auth-service
  cache:
    cache-names:
      - "users"
    redis:
      time-to-live: 10m

    type: redis
  data:
    redis:
      host: localhost
      port: 6379


server:
  port: 8080
