spring:
  application:
    name: page-service
  flyway:
    enabled: true
    locations: classpath:db/migration
  r2dbc:
    pool:
      max-size: 5
      min-idle: 1
      initial-size: 1
      max-idle-time: 30000ms
      max-lifetime: 600000ms
management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
  tracing:
    sampling:
      probability: 1.0
  opentelemetry:
    tracing:
      export:
        otlp:
          transport: grpc
          endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://otel-collector:4317}
  otlp:
    metrics:
      export:
        enabled: false
logging:
  config: classpath:logback-spring.xml
  level:
    root: info
    "[com.dj.ckw.pageservice]": info
  structured:
    format:
      console: logstash
# Variables to configure while deploying to different environments
# SPRING_R2DBC_URL -> Database connection URL
# SPRING_R2DBC_USERNAME -> Database username
# SPRING_R2DBC_PASSWORD -> Database password
# SPRING_FLYWAY_URL -> Flyway database connection URL(Same as R2DBC URL but with JDBC prefix, credentials are picked from R2DBC properties)
