spring:
  application:
    name: "api-gateway"
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service-route
              uri: http://ckw-auth-service:8080
              predicates:
                - name: Path
                  args:
                    patterns:
                      - /auth/login
                      - /auth/register
                      - /auth/verify
              filters:
                - name: StripPrefix
                  args:
                    part: 1
            - id: auth-docs-route
              uri: http://ckw-auth-service:8080
              predicates:
                - name: Path
                  args:
                    patterns:
                      - /api-docs/auth
              filters:
                - name: RewritePath
                  args:
                    regexp: /api-docs/auth
                    replacement: /v3/api-docs
            - id: user-service-route
              uri: http://ckw-user-service:8080
              predicates:
                - name: Path
                  args:
                    patterns:
                      - /user/**
              filters:
                - name: StripPrefix
                  args:
                    part: 1
                - name: JwtValidation
            - id: user-docs-route
              uri: http://ckw-user-service:8080
              predicates:
                - name: Path
                  args:
                    patterns:
                      - /api-docs/user
              filters:
                - name: RewritePath
                  args:
                    regexp: /api-docs/user
                    replacement: /v3/api-docs
            - id: workspace-service-route
              uri: http://ckw-workspace-service:8080
              predicates:
                - name: Path
                  args:
                    patterns:
                      - /workspaces/**
              filters:
                - name: StripPrefix
                  args:
                    part: 1
                - name: JwtValidation
            - id: workspace-docs-route
              uri: http://ckw-workspace-service:8080
              predicates:
                - name: Path
                  args:
                    patterns:
                      - /api-docs/workspace
              filters:
                - name: RewritePath
                  args:
                    regexp: /api-docs/workspace
                    replacement: /v3/api-docs
            - id: page-service-route
              uri: http://ckw-page-service:8080
              predicates:
                - name: Path
                  args:
                    patterns:
                      - /workspace/{workspace_id}/documents/**
              filters:
                - name: JwtValidation
                - name: PageAccessValidation
                - name: StripPrefix
                  args:
                    part: 1
            - id: page-docs-route
              uri: http://ckw-page-service:8080
              predicates:
                - name: Path
                  args:
                    patterns:
                      - /api-docs/page
              filters:
                - name: RewritePath
                  args:
                    regexp: /api-docs/page
                    replacement: /v3/api-docs
          globalcors:
            cors-configurations:
              "[/**]":
                          allowedOrigins: "http://localhost:5173"
                          allowedMethods:
                            - GET
                            - POST
                            - PUT
                            - DELETE
                            - OPTIONS
                            - PATCH
                          allowedHeaders: "*"
                          allowCredentials: true
server:
  port: 8080
logging:
  level:
    root: info
