receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

processors:
  batch:
    timeout: 5s
    send_batch_size: 1024

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp/tempo]
      processors: [batch]
    #metrics:
    #  receivers: [otlp]
    #  exporters: [otlp]
    #logs:
    #  receivers: [otlp]
    #  exporters: [otlp]
