spring:
  application:
    name: workspace-service
  datasource:
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      idle-timeout: 30000
      max-lifetime: 600000
  threads:
    virtual:
      enabled: true
logging:
  config: classpath:logback-spring.xml
  level:
    root: info
    "[com.dj.ckw.workspaceservice]": info
  structured:
    format:
      console: logstash
management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
  tracing:
    sampling:
      probability: 1.0
  opentelemetry:
    tracing:
      export:
        otlp:
          transport: grpc
          endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://otel-collector:4317}
  otlp:
    metrics:
      export:
        enabled: false

