spring:
  datasource:
    url: jdbc:h2:mem:build;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.H2Dialect

management:
  otlp:
    tracing:
      export:
        enabled: false

server:
  tomcat:
    basedir: /tmp
